html{
    height: 100%;
}

header {
    border-bottom: 2px solid black;
    height: 10%;
    position: relative;
    margin-bottom: 25px;
}

body{
    height: 100%;
    display: block;
}

form {
    width: 100%;
}

#product-list {
    margin-top: 0;
    position: absolute;
    top: 21%;
    left: 10px;
    display: inline-block;
}

.alert {
    display: inline-block;
    position: absolute;
    left: 20%;
    color: red;
    background-color: pink;
    padding: 0px 10px;
    min-height: 50px;
    border-radius: 15px;
    max-width: 60vw;
}

.buttons {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    vertical-align: middle;
}

.disabled {
    color: lightgray;
    border: 1px solid lightgray;
    display: inline-block;
    background: rgb(236, 236, 236);
    padding: 2px 5px;
    text-align: center;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    background: rgb(236, 236, 236);
    padding: 2px 5px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: #cdd6cd;
    cursor: pointer;
}


.title {
    display: inline-block;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-value {
    display: inline-block;
}

.type-switcher-title {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.type-switcher {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.memo {
    display: inline-block;
    min-width: 300px;
    min-height: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#main-table {
    box-sizing: border-box;
    margin: auto auto auto auto;
    min-height: 20%;
}

.sale-item {
    width: 20.5%;
    float: left;
    padding: 1%;
    text-align: center;
    border: 2px solid black;
    margin: 1%;
    height: 20%;
    position: relative;
}

.delete-checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
}

#main-table::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    border-top: 2px solid black;
    text-align: center;
    padding: 20px 10px;
}